.btn {
    border: 0px;
    background-color: transparent;
    padding: 0px;
    size: 5px;
}

body {
    background-color: #5C5470;

}

.clock {
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
}

.startbtn {
    height: 48px;
    width: 110px;
    background-color: #FAF0E6;
    border: 3px solid #352F44;
    display: inline-block;
    color: #352F44;
    font-size: 35px;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}

.memorygame{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid #352F44;
    padding: 10px;
}
.uppergame{
    display: flex;
    justify-content: center;
    align-content: center;
}
.timer{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}